<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="styles/main.css">
</head>
<body ng-app="directoryApp">
	<div class="container">
		<div class="row">
			<h1>Collection</h1>
		</div>
		<a href="login.html">Login</a>
		<div class="row" ng-controller="ListingsController">
			<div class="col-md-6">
				<div class="container">
					<h3>Filters</h3>
					<p><input ng-model="newListing.code" placeholder="Player Name"></p>
					<select name="Team">
						<option value="Teams">Teams</option>
					</select>
					<select name="Position">
						<option value="Positions">Positions</option>
					</select>
					<select name="Manufacturer">
						<option value="Manufacturer">Manufacturer</option>
					</select>
					<input type="submit" ng-click="addListing()" style="background-color:cornflowerblue" value="Filter">
				</div>
			</div>
			<div class="col-md-6">
				<div class="input-group" id="searchBar">
					<span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-search"></span></span>
					<input type="text" class="form-control" placeholder="Search" ng-model="query">
				</div>
				<div class="tableWrapper">
					<table class="table table-striped table-hover">
						<tr>
							<th>Image</th>
							<th>Info</th>
							<th>Quantity</th>
							<th></th>
						</tr>
						<tr ng-repeat="listing in listings | filter: query" ng-click="showDetails(listing)">
							<td>{{listing.code}}</td>
							<td>{{listing.name}}</td>
							<td ng-click="deleteListing(listing._id)"><span style="color: red;" class="glyphicon glyphicon-remove"></span></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
	<script src="https://code.angularjs.org/1.4.3/angular.js"></script>
	<script src="js/app.js"></script>
	<script src="js/factories/listingFactory.js"></script>
	<script src="js/controllers/listingController.js"></script>
</body>
</html>
